@media (max-width: 1199px) {
	#main {
		.box-sejarah {
	        .row {
	            margin-left: -30px;
	            margin-right: -30px;
	            > div {
	                padding-left: 30px;
	                padding-right: 30px;
	            }
	        }
	    }
	}	
}