@media (max-width: 767px) {
	.xs30 {
		margin-bottom: 30px;
	}
	.xs20 {
		margin-bottom: 20px;
	}
	body {
		padding-top: 55px;
	}
	header {
		.header-bottom {
			background: white !important;
			padding: 10px 0 !important;
			.logo {
				margin-right: 5px !important;
                img {
                    height: 35px !important;
                }
            }
            .txt-logo {
                color: $black !important;
                .t1 {
	                font-size: 20px !important;
	                line-height: 15px !important;
	                letter-spacing: 2px !important;
	            }
            }
			.menu {
				cursor: pointer;
				display: inline-block;
				position: relative;
				top: 2px;
				i {
					font-size: 20px;
					color: $blue;
				}
			}
			.main-menu {
				display: none;
			}
		}
	}
	footer {
	    padding: 20px 0 20px;
	    .tbl-footer {
	        .img-cell {
	            width: 80px;
	            padding-right: 15px;
	            .img {
	            	border: 2px solid white;
	            }
	        }
	    }
	    .t-footer {
	        font-size: 15px;
	        line-height: 22px;
	        margin-bottom: 5px;
	    }
	    .bdy-footer {
	        &.pr30 {
	            padding-right: 10px;
	        }
	        p {
	            font-size: 13px;
	            line-height: 19px;
	        }
	    }
	    .mb40 {
	        margin-bottom: 20px;
	    }
	    ul.l-footer {
	        li {
	            margin-bottom: 5px;
	            a {
	            	font-size: 12px;
	            	line-height: 15px;
	                .icon {
	                    img {
	                        width: 20px;
	                    }
	                }
	            }
	        }
	    }
	    ul.l-soc {
	        &.l-img {
	            li {
	                .img {
	                    img {
	                        height: 50px;
	                    }
	                }
	            }
	        }
	        &.l-donasi {
	            li {
	                .img {
	                    &.big {
	                        img {
	                            height: 30px;
	                        }
	                    }
	                    img {
	                        height: 30px;
	                    }
	                }
	            }
	        }
	    }
	    .cp {
	        margin-top: 10px;
	        a {
	            font-size: 12px;
	            line-height: 15px;
	        }
	    }
	}
	button.hvr-button {
	    padding: 5px 20px;
	    font-size: 14px;
	    line-height: 20px;
	    border-radius: 8px;
	}

	.fixed-top {
		a {
			right: 10px;
			width: 45px;
			height: 45px;
			font-size: 16px;
			line-height: 17px;
		}
	}

	.fixed-message {
		a {
			right: 10px;
			width: 45px;
			height: 45px;
			top: calc(50% + 60px);
			.img {
				img {
					width: 25px;
				}
			}
			.txt {
				display: none !important;
			}
			&:hover {
				width: 45px;
				padding: 10px;
				.img {
					left: 55%;
					right: inherit;
					top: 50%;
					@include transform(translate(-50%,-50%));
				}
			}
		}
	}

	.fixed-donasi {
		a {
			right: 10px;
			width: 45px;
			height: 45px;
			top: calc(50% + 110px);
			.img {
				img {
					width: 25px;
				}
			}
			.txt {
				display: none !important;
			}
			&:hover {
				width: 45px;
				padding: 10px;
				.img {
					left: 55%;
					right: inherit;
					top: 50%;
					@include transform(translate(-50%,-50%));
				}
			}
		}
	}

	#main {
		.title-global {
	        &.mb40 { 
	            margin-bottom: 20px;
	        }
	        font-size: 20px;
	        line-height: 26px;
	    }
	    .bdy-global {
	        margin-bottom: 30px;
	        &.w450 {
	        	width: 100%;
	        }
	        p {
	            font-size: 14px;
	            line-height: 19px;
	        }
	    }
		.slider-banner {
			.abs-banner {
				background: rgba(131,131,131,0.6);
			}
			.slick-dots {
	            bottom: 10px;
	            li {
	                margin: 0 7px;
	                width: 7px;
	                height: 7px;
	                button {
	                    width: 7px;
	                    height: 7px;
	                    &:before {
	                        font-size: 7px;
	                        width: 7px;
	                        height: 7px;
	                    }
	                }
	            }
	        }
	        .item {
	            height: 350px;
	            .tbl {
	                padding-top: 0;
	            }
	            .t1 {
	                font-size: 18px;
	                line-height: 25px;
	            }
	            .t2 {
	                margin-bottom: 15px;
	                p {
	                    font-size: 13px;
	                    line-height: 19px;
	                }
	            }
	        }
	    }
	    .pad120 {
	        padding: 30px 0;
	    }
	    .box-program {
	        .tbl-program {
	            .tbl {
	                .cell {
	                    font-size: 14px;
	                    line-height: 19px;
	                    &.w200 {
	                        width: 110px;
	                        padding-right: 10px;
	                    }
	                }
	            }
	        }
	        .float-img {
	            img {
	                height: 135px;
	            }
	        }
	    }
	    .box-sejarah {
	        padding: 30px 0;
	        .row {
	            margin-left: -15px;
	            margin-right: -15px;
	            > div {
	                padding-left: 15px;
	                padding-right: 15px;
	            }
	        }
	        .t1 {
	            font-size: 16px;
	            line-height: 22px;
	        }
	        .t2 {
	            font-size: 30px;
	            line-height: 35px;
	        }
	    }
	    .bdr-kontribusi {
	    	margin: 20px 0;
	    	padding: 20px 0;
	        &:before {
	            width: 200px;
	            height: 2px;
	            top: 0;
	            @include transform(translateY(0));
	            @include transform(translateX(-50%));
	            left: 50%;
	        }
	        &:after {
	            width: 200px;
	            height: 2px;
	            bottom: 0;
	            top: inherit;
	            @include transform(translateY(0));
	            @include transform(translateX(-50%));
	            left: 50%;
	        }
	    }
	    .item-kontribusi {
	        .t1 {
	            font-size: 16px;
	            line-height: 24px;
	            margin-bottom: 20px;
	        }
	        .value {
	            font-size: 70px;
	            line-height: 50px;
	        }
	        .plus {
	            font-size: 70px;
	            line-height: 50px;
	        }
	        .text {
	            font-size: 15px;
	            line-height: 22px;
	            margin-bottom: 7px;
	        }
	        .bdy {
	            p {
	                font-size: 13px;
	                line-height: 19px;
	            }
	        }
	    }
	    .box-kolaborasi {
	    	overflow: hidden !important;
	        .bg {
	            padding: 20px 0;
	            &:after {
	                content: '';
	                background-color: $blue;
	                width: 100%;
	                left: 100%;
	                height: 100%;
	                position: absolute;
	                top: 0;
	            }
	            .t {
	                font-size: 18px;
	                line-height: 26px;
	            }
	            .t2 {
	                p {
	                    font-size: 13px;
	                    line-height: 19px;
	                }
	            }
	        }
	        .pl50 {
	        	margin-top: 30px;
	        }
	        .slider-kolaborasi {
	        	.slick-dots {
	                bottom: 10px;
	            }
	            .item {
	            	.t-kolaborasi {
	            		font-size: 20px;
	                    margin-bottom: 15px;
	                }
		            ul.l-kolaborasi {
		            	li {
		            		&:last-child {
		            			margin-bottom: 40px;
		            		}
		            		.tbl {
				                .cell {
				                    &.w150 {
				                        width: 90px;
				                        padding-right: 20px;
				                    }
				                    .bdy {
				                        p {
				                            font-size: 13px;
				                            line-height: 19px;
				                        }
				                    }
				                }
				            }
		            	}
		            }
	            }
	        }
	    }
	    .slider-info {
	    	.slick-prev {
	            width: 20px;
	            height: 26px;
	            left: -10px;
	            background: url("../images/resp-arrow-left.png");
	        }
	        .slick-next {
	            width: 20px;
	            height: 26px;
	            right: -10px;
	            background: url("../images/resp-arrow-right.png");
	        }
	        .item {
	        	margin: 0 20px 15px;
	        }
	    }
	    .item-beda {
	    	a {
		        .img {
		            margin-bottom: 15px;
		            img {
		                width: 70px;
		            }
		        }
		        .text {
		            font-size: 16px;
		            line-height: 24px;
		        }
	    	}
	    }
	    .box-tentang-kami {
	        .mb30 {
	            margin-bottom: 20px;
	        }
	        .t-kami {
	            font-size: 16px;
	            line-height: 24px;
	            margin-bottom: 3px;
	        }
	        ul.l-kami {
	            margin: 0 0 15px;
	            li {
	                &.img {
	                    width: 20px;
	                }
	                margin-right: 7px;
	                font-size: 14px;
	                line-height: 18px;
	            }
	        }
	        .bdy-kami {
	            padding-right: 60px;
	            p {
	                &.mb15 {
	                    margin-bottom: 10px;
	                }
	                a {
	                }
	                font-size: 13px;
	                line-height: 19px;
	            }
	        }
	    }
	    .css-tentang-kami {
		    .box-sejarah {
	            padding: 30px 0;
	        }
	        .box-kolaborasi {
	            .bg {
	                padding: 20px 30px 20px 20px;
	                ul.nav-kolaborasi {
	                	text-align: center;
	                    li {
	                        margin-bottom: 25px;
	                        a {
	                            font-size: 16px;
	                            line-height: 22px;
	                            .wtext {
	                                width: auto;
	                                margin-right: 15px;
	                            }
	                            .icon {
	                                top: -1px;
	                                img {
	                                    width: 30px;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	            .tab-content {
	                .bdy-tab {
	                    p {
	                        font-size: 13px;
	                        line-height: 19px;
	                    }
	                }
	            }
	        }
	        .box-pendahuluan {
	            .img {
	            	margin: 0 auto 15px;
	                img {
	                	width: 250px;
	                }
	            }
	            .t1 {
	                font-size: 20px;
	                line-height: 30px;
	            }
	            .bdy {
	                p {
	                    font-size: 13px;
	                    line-height: 19px;
	                }
	            }
	        }
	        .box-struktur {
	        	.slider-video {
	                .item {
	                    iframe {
	                        height: 150px;
	                    }
	                }
	            }
	        	.slider-prestasi {
	                margin: 5px 0 0;
	                .slick-prev {
			            width: 20px;
			            height: 26px;
			            left: -5px;
			            background: url("../images/resp-arrow-left-gerkatin.png");
			        }
			        .slick-next {
			            width: 20px;
			            height: 26px;
			            right: -5px;
			            background: url("../images/resp-arrow-right-gerkatin.png");
			        }
	                .item {
	                    margin: 0 25px;
	                    p {
	                        font-size: 13px;
	                        line-height: 17px;
	                    }
	                }
	            }
	            .slider-struktur {
	                .slick-prev {
			            width: 20px;
			            height: 26px;
			            left: -5px;
			            background: url("../images/resp-arrow-left-gerkatin.png");
			        }
			        .slick-next {
			            width: 20px;
			            height: 26px;
			            right: -5px;
			            background: url("../images/resp-arrow-right-gerkatin.png");
			        }
	                .item {
	                    .t2 {
	                        font-size: 16px;
	                        line-height: 22px;
	                        margin-bottom: 15px;
	                    }
	                    .t3 {
	                        font-size: 13px;
	                        line-height: 17px;
	                        padding: 7px 15px;
	                    }
	                    .t4 {
	                        p {
	                            font-size: 13px;
	                            line-height: 17px;
	                        }
	                    }
	                    .img-line {
	                    	img {
	                    		display: none;
	                    	}
	                    }
	                    .img-line2 {
	                    	display: none;
	                    }
	                    .nm-profile {
	                        font-size: 12px;
	                        line-height: 14px;
	                    }
	                    .posisi-profile {
	                        font-size: 11px;
	                        line-height: 13px;
	                    }
	                    .img-profile {
	                        img {
	                            width: 50px;
	                        }
	                    }
	                }
	            }
	            .t {
	                font-size: 20px;
	                line-height: 26px;
	            }
	            .t2 {
	            	p {
	            		font-size: 13px;
	            		line-height: 17px;
	            	}
	            }
	        }
	        .slider-gerkatin {
		        margin: 10px 0 0 0;
		        .slick-prev {
		            width: 20px;
		            height: 26px;
		            left: -5px;
		            background: url("../images/resp-arrow-left-gerkatin.png");
		        }
		        .slick-next {
		            width: 20px;
		            height: 26px;
		            right: -5px;
		            background: url("../images/resp-arrow-right-gerkatin.png");
		        }
		        .item {
		            margin: 20px 30px;
		            .t2 {
		                font-size: 16px;
		                line-height: 22px;
		                padding: 4px 15px;
		            }
		            .t3 {
		            	margin-bottom: 10px;
		            	p {
		            		font-size: 13px;
		            		line-height: 17px;
		            	}
		            }
		            .item-gerkatin {
		                a {
		                    font-size: 12px;
		                    line-height: 14px;
		                    padding: 8px 10px;
		                }
		            }
		        }
		    }
		    .slider-bidang {
		        .slick-prev {
		            width: 20px;
		            height: 26px;
		            left: -5px;
		            background: url("../images/resp-arrow-left-gerkatin.png");
		        }
		        .slick-next {
		            width: 20px;
		            height: 26px;
		            right: -5px;
		            background: url("../images/resp-arrow-right-gerkatin.png");
		        }
		        .item {
		            margin: 10px 15px;
		            .item-gerkatin {
	                    .nm-profile {
                        	font-size: 12px;
	                        line-height: 14px;
	                    }
	                    .posisi-profile {
	                        font-size: 11px;
	                        line-height: 13px;
	                    }
	                    .img-profile {
	                        img {
	                            width: 50px;
	                        }
	                    }
		            }
		        }
		    }
		    .slider-gerkatin2 {
		        .slick-prev {
		            width: 20px;
		            height: 26px;
		            left: -5px;
		            background: url("../images/resp-arrow-left-gerkatin.png");
		        }
		        .slick-next {
		            width: 20px;
		            height: 26px;
		            right: -5px;
		            background: url("../images/resp-arrow-right-gerkatin.png");
		        }
		        .item {
		            margin: 10px 30px;
		            .t2 {
		                margin-bottom: 20px;
		                font-size: 16px;
		                line-height: 22px;
		                padding: 4px 15px;
		            }
		            .item-gerkatin {
		                a {
		                    .nm-profile {
	                        	font-size: 12px;
		                        line-height: 14px;
		                    }
		                    .posisi-profile {
		                        font-size: 11px;
		                        line-height: 13px;
		                    }
		                    .img-profile {
		                        img {
		                            width: 50px;
		                        }
		                    }
		                }
		            }
		        }
		    }
	    }
	    .css-artikel {
	        .banner-artikel {
	            height: 150px;
	            .tbl {
	                padding-top: 0;
	            }
	            .box {
	                width: 250px;
	                padding: 15px 0;
	                .t {
	                    font-size: 19px;
	                    line-height: 25px;
	                }
	            }
	        }
	        .css-mix {
	            .t {
	                font-size: 17px;
	                line-height: 25px;
	                &.no-bdr {
	                	padding-bottom: 0;
	                	margin-bottom: 5px;
	                }
	            }
	            ul.controls {
	                li {
	                    margin-bottom: 5px;
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	            ul.content-mix {
	                li {
	                    margin-bottom: 15px;
	                    padding-bottom: 10px;
	                    .tbl {
	                    	display: block;
	                        .cell {
	                        	display: block;
	                            &.img {
	                                width: 100%;
	                                padding-right: 0;
	                                margin-bottom: 10px;
	                            }
	                            .title {
	                                font-size: 17px;
	                                line-height: 25px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
	    .modal {
	    	.pop-gerkatin {
	    		.nm-profile {
                	font-size: 12px;
                    line-height: 14px;
                }
                .posisi-profile {
                    font-size: 11px;
                    line-height: 13px;
                }
                .img-profile {
                    img {
                        width: 50px;
                    }
                }
	    	}
	    	ul.bdy-name {
		        li {
		            font-size: 13px;
		            line-height: 15px;
		        }
		    }
		    .modal-dialog {
	            width: 280px;
	            .modal-content {
	                padding: 20px 15px 0;
	            }
	        }
	        .t-pop {
		        font-size: 16px;
		        line-height: 20px;
		    }
		    .bdy-pop {
		        width: auto;
		        margin: 0 auto 20px;
		        p {
		            font-size: 13px;
		            line-height: 15px;
		        }
		    }
		    .close-pop {
		        top: 5px;
		        right: 10px;
		        i {
		            font-size: 14px;
		        }
		    }
		    .province {
		        margin-bottom: 0;
		        font-size: 12px;
		        line-height: 14px;
		        width: 42%;
		    	display: inline-block;
		    	vertical-align: top;
		    	text-align: left;
		    }
		    .mb40 {
		        margin-bottom: 30px;
		    }
		    .bdy-gerkatin {
		    	padding-left: 15px;
		    	width: 48%;
		    	display: inline-block;
		    	vertical-align: top;
		    	text-align: left;
		        .mb20 {
		            margin-bottom: 10px;
		        }
		        font-size: 12px;
		        line-height: 14px;
		    }
	    }
	}
	// .maintenance {
	//     .abs-maintenance {
	//         ul {
	//             li {
	//                 margin-right: 20px;
	//                 padding-right: 20px;
	//                 font-size: 13px;
	//                 line-height: 17px;
	//             }
	//         }
	//     }
	//     #countdown {
	//         margin: 50px 0;
	//         ul {
	//             li {
	//                 font-size: 11px;
	//                 margin-right: 10px;
	//                 &:first-child {
	//                     margin-right: 20px;
	//                 }
	//                 span {
	//                     font-size: 30px;
	//                     line-height: 40px;
	//                 }
	//             }
	//         }
	//     }
	//     .logo {
	//         img {
	//             width: 260px;
	//         }
	//     }
	//     .txt {
	//         font-size: 20px;
	//         line-height: 22px;
	//         margin-bottom: 3px;
	//     }
	//     .txt2 {
	//         font-size: 16px;
	//         line-height: 20px;
	//     }
	// }
}