@media (max-width: 991px) {
	.md30 {
		margin-bottom: 30px;
	}
	header {
	    &.scroll {
	        .header-bottom { 
	            background-color: white;
	            padding: 10px 0;
	            .logo {
	            	margin-right: 5px;
	            }
	            .txt-logo {
		            .t1 {
		                font-size: 20px;
		            }
		            .t2 {
		            	font-size: 5px;
		            }
		        }
	        }
	    }
	    .header-bottom {
	        padding: 30px 0;
	        .logo {
	            margin-right: 10px;
                img {
                    height: 55px;
                }
	        }
	        .txt-logo {
	            .t1 {
	                font-size: 25px;
	                line-height: 20px;
	                letter-spacing: 2px;
	            }
	            .t2 {
	                font-size: 6px;
	                line-height: 10px;
	            }
	        }
	        .main-menu {
	            nav {
	                a {
	                    margin-right: 18px;
	                    font-size: 13px;
	                    line-height: 15px;
	                }
	            }
	        }
	    }
	}
	footer {
	    padding: 30px 0 20px;
	    .tbl-footer {
	        .img-cell {
	            width: 120px;
	            padding-right: 20px;
	        }
	    }
	    .t-footer {
	        font-size: 16px;
	        line-height: 24px;
	        margin-bottom: 7px;
	    }
	    .bdy-footer {
	        &.pr30 {
	            padding-right: 20px;
	        }
	        p {
	            font-size: 14px;
	            line-height: 20px;
	        }
	    }
	    .mb40 {
	        margin-bottom: 25px;
	    }
	    ul.l-footer {
	        li {
	            margin-bottom: 8px;
	            a {
	                .icon {
	                    margin-right: 3px;
	                    display: inline-block;
	                    img {
	                        width: 25px;
	                    }
	                }
	                font-size: 13px;
	                line-height: 18px;
	                letter-spacing: 0.5px;
	            }
	        }
	    }
	    ul.l-soc {
	        &.l-img {
	            li {
	                .img {
	                    img {
	                        height: 55px;
	                    }
	                }
	            }
	        }
	        &.l-donasi {
	            li {
	                margin: 0 15px 15px 0;
	                .img {
	                    &.big {
	                        img {
	                            height: 40px;
	                        }
	                    }
	                    img {
	                        height: 35px;
	                    }
	                }
	            }
	        }
	    }
	    .cp {
	        margin-top: 20px;
	        a {
	            font-size: 13px;
	            line-height: 18px;
	        }
	    }
	}
	#main {
		.title-global {
	        &.mb40 { 
	            margin-bottom: 30px;
	        }
	        font-size: 25px;
	        line-height: 35px;
	    }
	    .bdy-global {
	        margin-bottom: 40px;
	        &.w450 {
	        	width: 350px;
	        }
	        p {
	            font-size: 16px;
	            line-height: 20px;
	        }
	    }
		.slider-banner {
	        .item {
	            height: 550px;
	            .tbl {
	                padding-top: 115px;
	            }
	            .t1 {
	                font-size: 30px;
	                line-height: 35px;
	            }
	            .t2 {
	                margin-bottom: 20px;
	                p {
	                    font-size: 17px;
	                    line-height: 20px;
	                }
	            }
	        }
	    }
	    .box-program {
	        .tbl-program {
	            .tbl {
	                .cell {
	                    font-size: 16px;
	                    line-height: 20px;
	                    &.w200 {
	                        width: 140px;
	                        padding-right: 10px;
	                    }
	                }
	            }
	        }
	        .float-img {
	            img {
	                height: 135px;
	            }
	        }
	    }
	    .box-sejarah {
	        padding: 80px 0;
	        .row {
	            margin-left: -20px;
	            margin-right: -20px;
	            > div {
	                padding-left: 20px;
	                padding-right: 20px;
	            }
	        }
	        .t1 {
	            font-size: 20px;
	            line-height: 25px;
	        }
	        .t2 {
	            font-size: 40px;
	            line-height: 45px;
	        }
	        .t3 {
	            p {
	                font-size: 14px;
	                line-height: 20px;
	            }
	        }
	    }
	    .pad120 {
	        padding: 60px 0;
	    }
	    .bdr-kontribusi {
	        &:before {
	            width: 2px;
	            height: 150px;
	        }
	        &:after {
	            width: 2px;
	            height: 150px;
	        }
	    }
	    .item-kontribusi {
	        .t1 {
	            font-size: 18px;
	            line-height: 26px;
	            margin-bottom: 30px;
	        }
	        .value {
	            font-size: 100px;
	            line-height: 80px;
	        }
	        .plus {
	            font-size: 100px;
	            line-height: 80px;
	        }
	        .text {
	            font-size: 20px;
	            line-height: 25px;
	            margin-bottom: 10px;
	        }
	        .bdy {
	            width: 180px;
	            p {
	                font-size: 14px;
	                line-height: 20px;
	            }
	        }
	    }
	    .box-kolaborasi {
	        .bg {
	            padding: 0 20px 0 40px;
	            .t {
	                font-size: 25px;
	                line-height: 30px;
	            }
	            .t2 {
	                p {
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	        }
	        .pl50 {
	            padding-left: 0px;
	        }
	        .slider-kolaborasi {
	        	.slick-dots {
	                bottom: -25px;
	            }
	        	.item {
	        		.t-kolaborasi { 
	                    font-size: 22px;
	                    line-height: 26px;
	                }
	        		ul.l-kolaborasi {
	        			li {
	        				margin-bottom: 40px;
	        				.tbl {
				                .cell {
				                    &.w150 {
				                        width: 110px;
				                        padding-right: 30px;
				                    }
				                    .bdy {
				                        p {
				                            font-size: 14px;
				                            line-height: 20px;
				                        }
				                    }
				                }
				            }
	        			}
	        		}
	        	}
	        }
	    }
	    .slider-info {
	        padding-top: 30px;
	        .slick-prev {
	            left: -30px;
	        }
	        .slick-next {
	            right: -30px;
	        }
	        .item {
	            margin: 10px 15px;
	            a {
	                .img {
	                    img {
	                        height: 180px;
	                    }
	                }
	                .in {
	                    padding: 15px;
	                    .t1 {
	                        font-size: 14px;
	                        line-height: 19px;
	                    }
	                    .t2 {
	                        padding-right: 0;
	                        color: $blue2;
	                        font-size: 15px;
	                        line-height: 18px;
	                        height: 40px;
	                    }
	                }
	            }
	        }
	    }
	    .box-info {
	        &:before {
	            height: 250px;
	        }
	    }
	    .item-beda {
	    	a {
	    		padding: 20px 10px;
		        .img {
		            margin-bottom: 20px;
		            img {
		                width: 100px;
		            }
		        }
		        .text {
		            font-size: 18px;
		            line-height: 25px;
		        }
		        .bdy {
		            width: auto;
		            p {
		                font-size: 12px;
		                line-height: 15px;
		            }
		        }
	    	}
	    }
	    .css-tentang-kami {
	        .box-sejarah {
	            padding: 140px 0 60px;
	        }
	        .box-kolaborasi {
	            .bg {
	                padding: 40px 30px 40px 20px;
	                ul.nav-kolaborasi {
	                    li {
	                        margin-bottom: 30px;
	                        a {
	                            font-size: 18px;
	                            line-height: 25px;
	                            .wtext {
	                                width: 150px;
	                                margin-right: 20px;
	                            }
	                            .icon {
	                                top: -1px;
	                                img {
	                                    width: 35px;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	            .tab-content {
	                .bdy-tab {
	                    p {
	                        font-size: 15px;
	                        line-height: 24px;
	                    }
	                }
	            }
	        }
	        .box-pendahuluan {
	            .img {
	            	text-align: center;
	            	margin: 0 auto 20px;
	                img {
	                	width: 350px;
	                }
	            }
	            .t1 {
	                font-size: 35px;
	                line-height: 40px;
	                text-align: center;
	                margin-bottom: 0;
	            }
	            .bdy {
	                text-align: center;
	                p {
	                    font-size: 15px;
	                    line-height: 24px;
	                }
	            }
	        }
	        .box-struktur {
	        	.slider-video {
	                .item {
	                    iframe {
	                        height: 200px;
	                    }
	                }
	            }
	        	.slider-prestasi {
	                margin: 20px 0 0;
	                .slick-prev {
			            left: -20px;
			        }
			        .slick-next {
			            right: -20px;
			        }
	                .item {
	                    margin: 0 40px;
	                    p {
	                        font-size: 16px;
	                        line-height: 22px;
	                    }
	                }
	            }
	            .slider-struktur {
	                .slick-prev {
			            left: -20px;
			        }
			        .slick-next {
			            right: -20px;
			        }
	                .item {
	                    .t2 {
	                        font-size: 20px;
	                        line-height: 25px;
	                        margin-bottom: 20px;
	                    }
	                    .t3 {
	                        margin-bottom: 5px;
	                        font-size: 18px;
	                        line-height: 25px;
	                        padding: 10px 20px;
	                    }
	                    .t4 {
	                        p {
	                            font-size: 13px;
	                            line-height: 17px;
	                        }
	                    }
	                    .mb20 {
	                        margin-bottom: 15px;
	                    }
	                }
	            }
	            .t {
	                font-size: 25px;
	                line-height: 30px;
	            }
	        }
	        .slider-gerkatin {
	        	margin: 20px 0 0 0;
	        	.slick-prev {
		            left: -20px;
		        }
		        .slick-next {
		            right: -20px;
		        }
		        .item {
		            margin: 20px 30px;
		            .t2 {
		            	margin-bottom: 10px;
		                font-size: 18px;
		                line-height: 25px;
		                padding: 4px 20px;
		                min-width: 170px;
		            }
		            .t3 {
		            	margin-bottom: 30px;
		            }
		            .item-gerkatin {
		                a {
		                    font-size: 14px;
		                    line-height: 17px;
		                    padding: 8px 10px;
	                        -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
	                        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
	                        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
		                }
		            }
		        }
	        }
	        .slider-bidang {
	        	.slick-prev {
		            left: -20px;
		        }
		        .slick-next {
		            right: -20px;
		        }
		        .item {
		            margin: 20px 30px;
		        }
	        }
	        .slider-gerkatin2 {
	        	.slick-prev {
		            left: -20px;
		        }
		        .slick-next {
		            right: -20px;
		        }
		        .item {
		            margin: 20px 30px;
		            .t2 {
		                margin-bottom: 30px;
		                font-size: 18px;
		                line-height: 25px;
		                padding: 4px 20px;
		                min-width: 170px;
		            }
		        }
	        }
	    }
	    .css-artikel {
	        .banner-artikel {
	            height: 300px;
	            .tbl {
	                padding-top: 80px;
	            }
	            .box {
	                width: 350px;
	                padding: 35px 0;
	                .t {
	                    font-size: 25px;
	                    line-height: 30px;
	                }
	            }
	        }
	        .css-mix {
	            .t {
	                font-size: 22px;
	                line-height: 26px;
	                padding-bottom: 5px;
	                margin-bottom: 15px;
	            }
	            ul.controls {
	                li {
	                    margin-bottom: 10px;
	                    font-size: 16px;
	                    line-height: 22px;
	                }
	            }
	            ul.content-mix {
	                li {
	                    margin-bottom: 20px;
	                    padding-bottom: 20px;
	                    .tbl {
	                        .cell {
	                            &.img {
	                                width: 180px;
	                                padding-right: 20px;
	                                img {
	                                    height: 130px;
	                                }
	                            }
	                            .text {
	                                font-size: 15px;
	                                line-height: 18px;
	                            }
	                            .date {
	                                font-size: 12px;
	                                line-height: 15px;
	                            }
	                            .title {
	                                font-size: 20px;
	                                line-height: 26px;
	                            }
	                            .bdy {
	                                p {
	                                    font-size: 14px;
	                                    line-height: 19px;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
	    .modal {
	    	.modal-dialog {
	            width: 700px;
	            max-width: 700px;
	        }
	        ul.bdy-name {
		        li {
		            font-size: 14px;
		            line-height: 17px;
		        }
		    }
	    }
	}

	// .maintenance {
	//     .abs-maintenance {
	//         ul {
	//             li {
	//                 margin-right: 30px;
	//                 padding-right: 30px;
	//                 font-size: 15px;
	//                 line-height: 20px;
	//             }
	//         }
	//     }
	//     #countdown {
	//         margin: 50px 0;
	//         ul {
	//             li {
	//                 font-size: 20px;
	//                 margin-right: 30px;
	//                 &:first-child {
	//                     margin-right: 60px;
	//                 }
	//                 span {
	//                     font-size: 70px;
	//                     line-height: 80px;
	//                 }
	//             }
	//         }
	//     }
	//     .txt {
	//         font-size: 35px;
	//         line-height: 45px;
	//     }
	//     .txt2 {
	//         font-size: 25px;
	//         line-height: 35px;
	//     }
	// }
}