@import "bourbon/bourbon";

$blue: #1EB3D3;
$black: #000000;
$yellow: #FAFF00;
$blue2: #0E829B;

html, body {
    background-color: #ffffff;
    color: $black;
    font-weight: normal;
    margin: 0;
    font-family: 'ProximaNova';
}

.pos-rel {
    position: relative;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

a {
    color: $black;
}

*:focus, a:hover, a:focus, input.form-control:focus, input.form-control:hover, select.form-control:focus, select.form-control:hover, textarea.form-control:focus, textarea.form-control:hover, button:hover, button:focus, button.btn:hover, button.btn:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

textarea.form-control {
    height: 140px;
    resize: none;
}

.form-control {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: white;
    border: 0;
    border: 1px solid #C4C4C4;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 15px;
    outline: none;
    @include transition(all 0.3s);
    &::placeholder {
        opacity: 1;
        color: $black;
    }

    &:-ms-input-placeholder {
        opacity: 1;
        color: $black;
    }

    &::-ms-input-placeholder {
        opacity: 1;
        color: $black;
    }
    &:focus {
        border: 1px solid $black;
        background: #F3F3F3;
    }
    &:disabled {
        cursor: no-drop;
    }
}

select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
.tbl {
    width: 100%;
    height: 100%;
    display: table;
    .cell {
        display: table-cell;
        vertical-align: middle;
        &.v-top {
            vertical-align: top;
        }
    }
}

a.inline-block {
    display: inline-block;
}

button.hvr-button {
    border: 0;
    color: white;
    background: white;
    color: $blue2;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 25px;
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    letter-spacing: 0;
    @include transition(all 0.3s);
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    bottom: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        bottom: 3px;
    }
}

a.block {
    display: block;
}
a.inline-block {
    display: inline-block;
}

label {
    &.hide {
        position:absolute;
        z-index: -1;
    }
}
.visible-xs {
    display: none;
}

.slide-menu {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    background: white;
    @include transition(all 0.3s);
    z-index: 1200;
    height: auto;
    padding: 0;
    .pad20 {
        padding: 85px 20px 20px;
    }
    &.active {
        top: 0;
    }
    .box-close {
        position: absolute;
        top: 18px;
        right: 17px;
        line-height: 1;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        i {
            color: $blue;
            font-size: 20px;
        }
    }
    nav {
        a {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
            color: $blue;
            @include transition(all 0.3s);
            &:last-child {
                margin-bottom: 0;
            }
            &.active {
                font-weight: bold;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    visibility: hidden;
    z-index: -1;
    @include transition(all 0.3s);
    &.active {
        z-index: 1100;
        visibility: visible;
        background: rgba(0,0,0,.7);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    &.scroll {
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
        .header-bottom { 
            background-color: white;
            padding: 7px 0;
            .logo {
                margin-right: 10px;
                img {
                    height: 40px;
                }
            }
            .txt-logo {
                color: $black;
                .t1 {
                    font-size: 30px;
                }
                .t2 {
                    font-size: 7px;
                }
            }
            .main-menu {
                nav {
                    a {
                        color: $black;
                        &.active {
                            color: $blue;
                        }
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        background-color: transparent;
        padding: 40px 0;
        @include transition(all 0.3s);
        .menu {
            display: none;
        }
        .link {
            a {
                @include transition(all 0.3s);
                display: inline-block;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .logo {
            vertical-align: middle;
            display: inline-block;
            margin-right: 15px;
            img {
                @include transition(all 0.3s);
                max-width: 100%;
                height: 65px;
            }
        }
        .txt-logo {
            @include transition(all 0.3s);
            color: white;
            display: inline-block;
            vertical-align: middle;
            .t1 {
                text-transform: uppercase;
                font-size: 35px;
                line-height: 30px;
                font-weight: bold;
                letter-spacing: 1.8px;
            }
            .t2 {
                font-size: 8px;
                line-height: 10px;
            }
        }
        .main-menu {
            text-align: right;
            nav {
                a {
                    cursor: pointer;
                    margin-right: 35px;
                    font-size: 16px;
                    line-height: 20px;
                    color: white;
                    @include transition(all 0.3s);
                    position: relative;
                    font-weight: bold;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.active {
                        color: $yellow;
                    }
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

footer {
    background-image: linear-gradient(#0f849e, #169bb8, #1db2d3 50%);
    padding: 40px 0 30px;
    color: white;
    .tbl-footer {
        .cell {
            vertical-align: top;
        }
        .img-cell {
            width: 160px;
            padding-right: 30px;
            .img {
                border: 4px solid white;
                img {
                    width: 100%;
                }
            }
        }
    }
    .bdr {
        border-top: 1px solid white;
        padding-top: 30px;
    }
    .t-footer {
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        &.uppercase {
            text-transform: uppercase;
        }
    }
    .bdy-footer {
        &.pr30 {
            padding-right: 30px;
        }
        p {
            font-size: 15px;
            line-height: 22px;
        }
    }
    .mb20 {
        margin-bottom: 25px;
    }
    .mb40 {
        margin-bottom: 35px;
    }
    ul.l-footer {
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 10px;
            display: block;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                .icon {
                    margin-right: 3px;
                    display: inline-block;
                    img {
                        width: 25px;
                    }
                }
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.7px;
                color: white;
                cursor: pointer;
                @include transition(all 0.3s);
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    ul.l-soc {
        &.l-img {
            &.l-small {
                li {
                    .img {
                        img {
                            height: 42px;
                        }
                    }
                }
            }
            li {
                margin: 0 15px 0 0;
                .img {
                    img {
                        height: 50px;
                    }
                }
            }
        }
        &.l-donasi {
            li {
                margin: 0 15px 15px 0;
                .img {
                    img {
                        height: 30px;
                    }
                }
            }
        }
        margin: 0;
        padding: 0;
        li {
            margin-right: 15px;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
            a {
                .icon {
                    display: block;
                    border: 2px solid white;
                    padding: 1px;
                    border-radius: 5px;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    background-color: transparent;
                    @include transition(all 0.3s);
                }
                font-size: 13px;
                line-height: 20px;
                color: white;
                @include transition(all 0.3s);
                &:hover {
                    .icon {
                        background: white;
                    }
                    color: $blue;
                }
            }
        }
    }
    .btn-donasi {
        margin-bottom: 20px;
        a {
            display: inline-block;
            background: white;
            color: #535353;
            @include transition(all 0.3s);
            border-radius: 6px;
            font-size: 16px;
            font-weight: bold;
            padding: 3px 17px;
            &:hover {
                background: #535353;
                color: white;
            }
        }
    }
    .cp {
        margin-top: 70px;
        color: white;
        text-align: center;
        a {
            @include transition(all 0.3s);
            color: white;
            font-size: 14px;
            line-height: 20px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.fixed-top {
    display: none;
    a {
        display: block;
        border-radius: 8px;
        width: 55px;
        height: 55px;
        cursor: pointer;
        position: fixed;
        right: 15px;
        top: calc(50% + 160px);
        z-index: 1000;
        @include transition(all 0.3s);
        background-color: white;
        border: 2px solid $blue;
        font-weight: bold;
        text-align: center;
        color: $blue !important;
        font-size: 18px;
        line-height: 20px;
    }
}


.fixed-message {
    display: none;
    a {
        display: block;
        background-color: white;
        border: 2px solid $blue;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        right: 15px;
        top: calc(50% + 40px);
        z-index: 1000;
        @include transition(all 0.3s);
        .img {
            text-align: center;
            position: absolute;
            left: 53%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            img {
                width: 34px;
            }
        }
        .txt {
            white-space: nowrap;
            color: $blue;
            font-size: 20px;
            line-height: 17px;
            margin-right: 10px;
            font-weight: bold;
            text-transform: uppercase;
            display: none;
            @include transition(all 0.3s);
        }
        &:hover {
            width: 200px;
            border-radius: 8px;
            padding: 10px 15px;
            .img {
                left: inherit;
                right: 10px;
                @include transform(translate(0,-50%));
            }
            .txt {
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}

.fixed-donasi {
    display: none;
    a {
        display: block;
        background-color: white;
        border: 2px solid $blue;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        right: 15px;
        top: calc(50% + 100px);
        z-index: 1000;
        @include transition(all 0.3s);
        .img {
            text-align: center;
            position: absolute;
            left: 53%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            img {
                width: 34px;
            }
        }
        .txt {
            white-space: nowrap;
            color: $blue;
            font-size: 20px;
            line-height: 17px;
            margin-right: 10px;
            font-weight: bold;
            text-transform: uppercase;
            display: none;
            @include transition(all 0.3s);
        }
        &:hover {
            width: 155px;
            border-radius: 8px;
            padding: 10px 15px;
            .img {
                left: inherit;
                right: 10px;
                @include transform(translate(0,-50%));
            }
            .txt {
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}

#main {
    margin: 0 auto;
    max-width: 2560px;
    .css-artikel {
        .banner-artikel {
            background-size: cover !important;
            width: 100%;
            height: 450px;
            .tbl {
                padding-top: 100px;
            }
            .box {
                width: 480px;
                position: relative;
                padding: 45px 0;
                .bg {
                    top: 0;
                    left: 0;
                    background: #1EB3D3;
                    mix-blend-mode: multiply;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                .bg2 {
                    top: 0;
                    right: 100%;
                    background: #1EB3D3;
                    mix-blend-mode: multiply;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                .t {
                    font-weight: bold;
                    font-size: 35px;
                    line-height: 40px;
                    color: white;
                    position: relative;
                    z-index: 1;
                }
            }
        }
        .css-mix {
            .t {
                font-size: 25px;
                line-height: 30px;
                font-weight: bold;
                color: $blue2;
                padding-bottom: 10px;
                margin-bottom: 20px;
                &.bdr {
                    border-bottom: 1px solid #b1b1b1;
                }
            }
            ul.controls {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    cursor: pointer;
                    @include transition(all 0.3s);
                    margin-bottom: 15px;
                    font-size: 18px;
                    line-height: 25px;
                    &.mixitup-control-active {
                        font-weight: bold;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:hover {
                        color: $blue;
                    }
                }
            }
            ul.content-mix {
                margin: 0;
                padding: 0;
                li {
                    display: block;
                    border-bottom: 1px solid #b1b1b1;
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                    .tbl {
                        .cell {
                            vertical-align: top;
                            &.img {
                                width: 260px;
                                padding-right: 30px;
                                img {
                                    width: 100%;
                                    object-fit: cover;
                                    height: 160px;
                                }
                            }
                            .text {
                                color: $black;
                                font-weight: bold;
                                font-style: italic;
                                font-size: 16px;
                                margin-bottom: 3px;
                                line-height: 20px;
                            }
                            .date {
                                font-size: 13px;
                                line-height: 16px;
                            }
                            .arrow {
                                @include transition(all 0.3s);
                                cursor: pointer;
                                color: $black;
                                font-size: 13px;
                                font-style: italic;
                                font-weight: bold;
                                display: inline-block;
                                &:hover {
                                    color: $blue;
                                }
                                &.active {
                                    .fas {
                                        &.fa-chevron-right {
                                            display: none;
                                        }
                                        &.fa-chevron-down {
                                            display: inline-block;
                                        }
                                    }    
                                }
                                .fas {
                                    margin-right: 3px;
                                    font-size: 11px;
                                    &.fa-chevron-down {
                                        display: none;
                                    }
                                }
                            }
                            .bdr-btm {
                                width: 60px;
                                height: 1px;
                                background: #b1b1b1;
                                margin: 10px 0;
                            }
                            .title {
                                color: $blue2;
                                font-size: 26px;
                                line-height: 30px;
                                font-weight: bold;
                            }
                            .bdy {
                                margin-top: 5px;
                                display: none;
                                p {
                                    margin-bottom: 0;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                                &.active {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .css-tentang-kami {
        .box-sejarah {
            padding: 160px 0 80px;
        }
        .box-kolaborasi {
            .bg {
                padding: 60px 90px 60px 30px;
                ul.nav-kolaborasi {
                    margin: 0;
                    padding: 0;
                    display: block;
                    text-align: right;
                    li {
                        display: block;
                        margin-bottom: 45px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            cursor: pointer;
                            color: white;
                            font-weight: bold;
                            font-size: 23px;
                            line-height: 30px;
                            &.active, &:hover {
                                color: $yellow;
                                .wtext {
                                    @include transform(scale(1.1));
                                }
                                .icon {
                                    @include transform(scale(1.2));
                                    .icon2 {
                                        display: inline-block;
                                    }
                                    .icon1 {
                                        display: none;
                                    }
                                }
                            }
                            .wtext {
                                @include transition(all 0.3s);
                                @include transform(scale(1));
                                display: inline-block;
                                vertical-align: middle;
                                width: 240px;
                                margin-right: 30px;
                            }
                            .icon {
                                @include transition(all 0.3s);
                                @include transform(scale(1));
                                position: relative;
                                top: -2px;
                                display: inline-block;
                                vertical-align: middle;
                                img {
                                    width: 45px;
                                }
                                .icon2 {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .tab-content {
                .bdy-tab {
                    p {
                        margin-bottom: 0;
                        font-size: 17px;
                        line-height: 25px;
                    }
                }
            }
        }
        .box-pendahuluan {
            .img {
                img {
                    max-width: 100%;
                }
            }
            .t1 {
                font-weight: bold;
                color: $blue;
                font-size: 45px;
                lighting-color: 50px;
                text-align: right;
                margin-bottom: 10px;
            }
            .bdy {
                text-align: right;
                p {
                    font-size: 17px;
                    line-height: 25px;
                    color: $black;
                    margin-bottom: 0;
                }
            }
        }
        .box-struktur {
            .slider-video {
                margin: 20px 0 0;
                .item {
                    padding: 0 15px;
                    iframe {
                        width: 100%;
                        height: 250px;
                    }
                }
            }
            .slider-prestasi {
                margin: 30px 0 0;
                .slick-prev {
                    width: 30px;
                    height: 39px;
                    left: -40px;
                    z-index: 10;
                    background: url("../images/arrow-left-gerkatin.png");
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 0.7;
                    }
                    &:before {
                        display: none;
                    }
                }
                .slick-next {
                    width: 30px;
                    height: 39px;
                    right: -40px;
                    z-index: 10;
                    background: url("../images/arrow-right-gerkatin.png");
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 0.7;
                    }
                    &:before {
                        display: none;
                    }
                }
                .item {
                    text-align: center;
                    margin: 0 70px;
                    p {
                        margin-bottom: 0;
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
            .slider-struktur {
                margin-bottom: 0;
                .slick-prev {
                    width: 30px;
                    height: 39px;
                    left: -40px;
                    z-index: 10;
                    background: url("../images/arrow-left-gerkatin.png");
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 0.7;
                    }
                    &:before {
                        display: none;
                    }
                }
                .slick-next {
                    width: 30px;
                    height: 39px;
                    right: -40px;
                    z-index: 10;
                    background: url("../images/arrow-right-gerkatin.png");
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 0.7;
                    }
                    &:before {
                        display: none;
                    }
                }
                .item {
                    .t2 {
                        text-align: center;
                        font-size: 25px;
                        line-height: 30px;
                        font-weight: bold;
                        color: #535353;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                    }
                    .t3 {
                        margin-bottom: 8px;
                        color: white;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 30px;
                        background-color: $blue;
                        border-radius: 8px;
                        letter-spacing: 1px;
                        padding: 12px 25px;
                        display: inline-block;
                        text-transform: uppercase;
                    }
                    .t4 {
                        text-align: center;
                        p {
                            margin-bottom: 0;
                            font-size: 15px;
                            line-height: 21px;
                        }
                    }
                    .mb20 {
                        margin-bottom: 20px;
                    }
                    .img-line {
                        text-align: center;
                        margin: 15px 0;
                        img {
                            display: inline-block;
                            max-width: 100%;
                        }
                    }
                    .img-line2 {
                        top: 45px;
                        left: -20px;
                        position: absolute;
                    }
                    .nm-profile {
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        font-weight: bold;
                        color: #535353;
                    }
                    .posisi-profile {
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        color: #535353;
                    }
                    .img-profile {
                        text-align: center;
                        border-radius: 50%;
                        margin: 0 auto 5px;
                        img {
                            display: inline-block;
                            width: 80px;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .t {
                text-align: center;
                font-size: 30px;
                line-height: 35px;
                font-weight: bold;
                color: $blue;
            }
            .t2 {
                text-align: center;
                p {
                    margin-bottom: 0;
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }
    }
    .title-global {
        &.uppercase {
            text-transform: uppercase;
        }
        &.mb40 { 
            margin-bottom: 40px;
        }
        color: $blue;
        font-size: 40px;
        line-height: 50px;
        font-weight: bold;
    }
    .bdy-global {
        margin-bottom: 50px;
        text-align: center;
        &.w450 {
            width: 450px;
        }
        &.left {
            text-align: left;
        }
        &.mb0 {
            margin-bottom: 0;
        }
        &.mb15 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 23px;
        }
    }
    .box-program {
        .tbl-program {
            .tbl {
                margin-bottom: 15px;
                .cell {
                    vertical-align: top;
                    font-size: 18px;
                    line-height: 24px;
                    color: $blue;
                    font-weight: bold;
                    &.w200 {
                        width: 200px;
                        padding-right: 20px;
                    }
                }
            }
        }
        .float-img {
            float: left;
            width: 50%;
            img {
                width: 100%;
                object-fit: cover;
                height: 175px;
            }
        }
    }
    .slider-banner {
        margin-bottom: 0;
        .abs-banner {
            background: rgba(131, 131, 131, 0.4);
            mix-blend-mode: multiply;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .slick-dots {
            bottom: 20px;
            li {
                margin: 0 10px;
                width: 10px;
                height: 10px;
                line-height: 1;
                button {
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    &:before {
                        font-size: 10px;
                        color: white;
                        width: 10px;
                        height: 10px;
                        line-height: 1;
                    }
                }
            }
        }
        .item {
            position: relative;
            background-size: cover !important;
            width: 100%;
            height: 730px;
            color: white;
            text-align: center;
            .tbl {
                position: relative;
                padding-top: 145px;
                z-index: 10;
            }
            .t1 {
                text-transform: uppercase;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 40px;
                line-height: 45px;
            }
            .t2 {
                margin-bottom: 25px;
                p {
                    margin-bottom: 0;
                    font-size: 20px;
                    line-height: 22px;
                }
            }
            .t3 {
                a {
                    display: inline-block;
                }
            }
        }
    }
    .box-sejarah {
        padding: 120px 0;
        background-size: cover !important;
        position: relative;
        .row {
            margin-left: -70px;
            margin-right: -70px;
            > div {
                padding-left: 70px;
                padding-right: 70px;
            }
        }
        &:before {
            width: 100%;
            height: 100%;
            background: $blue2;
            mix-blend-mode: multiply;
            opacity: 0.9;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
        .t1 {
            color: white;
            font-size: 28px;
            line-height: 30px;
            font-weight: bold;
        }
        .t2 {
            color: $yellow;
            font-size: 55px;
            text-transform: uppercase;
            line-height: 60px;
            font-weight: bold;
        }
        .img {
            img {
                width: 100%;
            }
        }
        .t3 {
            p {
                margin-bottom: 0;
                font-size: 15px;
                line-height: 22px;
                color: white;
            }
        }
        .t4 {
            margin-top: 20px;
            text-align: center;
            a {
                display: inline-block;
            }
        }
    }
    .item-beda {
        text-align: center;
        a {
            cursor: pointer;
            display: block;
            @include transition(all 0.3s);
            padding: 40px 20px;
            &:hover {
                -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
                box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
            }
            .img {
                margin-bottom: 25px;
                img {
                    width: 155px;
                }
            }
            .text {
                font-weight: bold;
                color: $blue;
                text-transform: uppercase;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 3px;
            }
            .bdy {
                width: 300px;
                margin: 0 auto;
                p {
                    margin-bottom: 0;
                    font-size: 13px;
                    line-height: 16px;
                    color: $black;
                }
            }
        }
    }
    .item-kontribusi {
        text-align: center;
        .t1 {
            font-size: 26px;
            line-height: 35px;
            font-weight: bold;
            color: $black;
            margin-bottom: 40px;
        }
        .count-number {
            display: inline-block;
            font-family: 'bebas_neueregular';
            color: $blue;
            font-size: 160px;
            line-height: 140px;
        }
        .value {
            display: inline-block;
            font-family: 'bebas_neueregular';
            color: $blue;
            font-size: 160px;
            line-height: 140px;
        }
        .plus {
            display: inline-block;
            font-family: 'bebas_neueregular';
            color: $blue;
            font-size: 160px;
            line-height: 140px;
        }
        .text {
            font-weight: bold;
            color: $blue;
            text-transform: uppercase;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 20px;
        }
        .bdy {
            width: 260px;
            margin: 0 auto;
            p {
                margin-bottom: 0;
                font-size: 16px;
                line-height: 24px;
                color: $black;
            }
        }
    }
    .bg-follow {
        text-align: center;
        margin-bottom: 10px;
        .t-program {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            font-size: 17px;
            line-height: 22px;
            font-weight: bold;
            color: $blue;
        }
        ul.l-soc {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            li {
                margin-right: 7px;
                &:last-child {
                    margin-right: 0;
                }
                display: inline-block;
                a {
                    .icon {
                        display: block;
                        border: 2px solid $blue;
                        padding: 1px;
                        border-radius: 5px;
                        width: 26px;
                        height: 26px;
                        text-align: center;
                        background-color: transparent;
                    }
                    font-size: 16px;
                    line-height: 25px;
                    color: $blue;
                    @include transition(all 0.3s);
                    &:hover {
                        .icon {
                            background: $blue;
                        }
                        color: white;
                    }
                }
            }
        }
    }
    .box-info {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background: $blue;
        }
    }
    .slider-info {
        padding-top: 40px;
        .slick-prev {
            width: 30px;
            height: 39px;
            left: -40px;
            z-index: 10;
            background: url("../images/arrow-left.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .slick-next {
            width: 30px;
            height: 39px;
            right: -40px;
            z-index: 10;
            background: url("../images/arrow-right.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .item {
            margin: 10px 15px;
            a {
                position: relative;
                bottom: 0;
                box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25);
                display: block;
                @include transition(all 0.3s);
                &:hover {
                    bottom: 7px;
                }
                .img {
                    img {
                        object-fit: cover;
                        height: 230px;
                        width: 100%;
                    }
                }
                .in {
                    padding: 25px 25px;
                    background-color: #FCFF54;
                    .t1 {
                        font-size: 15px;
                        line-height: 20px;
                        color: $black;
                    }
                    .t2 {
                        padding-right: 40px;
                        margin-bottom: 3px;
                        font-weight: bold;
                        color: $blue2;
                        font-size: 20px;
                        line-height: 22px;
                        overflow: hidden;
                        height: 45px;
                    }
                    .t3 {
                        p {
                            margin-bottom: 0;
                            font-size: 13px;
                            line-height: 16px;
                            color: $black;
                        }
                    }
                    .t4 {
                        text-transform: uppercase;
                        margin-top: 5px;
                        text-align: right;
                        color: $black;
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: bold;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .bdr-kontribusi {
        position: relative;
        &:before {
            content: '';
            background-color: $blue;
            width: 3px;
            height: 250px;
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            left: 0;
        }
        &:after {
            content: '';
            background-color: $blue;
            width: 3px;
            height: 250px;
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            right: 0;
        }
    }
    .img-calender {
        margin-top: 20px;
        img {
            width: 100%;
        }
    }
    .pad120 {
        padding: 120px 0;
        &.pt0 {
            padding-top: 0;
        }
        &.pb0 {
            padding-bottom: 0;
        }
    }
    .box-kolaborasi {
        .bg {
            position: relative;
            height: 100%;
            background-color: $blue;
            padding: 0 120px;
            &:before {
                content: '';
                background-color: $blue;
                width: 100%;
                right: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
            .t {
                color: $yellow;
                font-size: 45px;
                line-height: 50px;
                font-weight: bold;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            .t2 {
                p {
                    margin-bottom: 0;
                    color: white;
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
        .pl50 {
            padding-left: 50px;
        }
        .slider-kolaborasi {
            margin-bottom: 0;
            .slick-dots {
                bottom: -40px;
                li {
                    margin: 0 10px;
                    width: 10px;
                    height: 10px;
                    line-height: 1;
                    button {
                        width: 10px;
                        height: 10px;
                        padding: 0;
                        &:before {
                            font-size: 10px;
                            color: $blue;
                            width: 10px;
                            height: 10px;
                            line-height: 1;
                        }
                    }
                }
            }
            .item {
                .t-kolaborasi {
                    font-weight: bold; 
                    font-size: 26px;
                    line-height: 30px;
                    text-align: center;
                    margin-bottom: 20px;
                    color: $blue;
                }
                ul.l-kolaborasi {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        margin-bottom: 50px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .tbl {
                            .cell {
                                vertical-align: top;
                                &.w150 {
                                    width: 160px;
                                    padding-right: 40px;
                                    .img {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                                .bdy {
                                    p {
                                        margin-bottom: 0;
                                        font-size: 17px;
                                        line-height: 25px;
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .slider-gerkatin {
        margin: 30px 0 0 0;
        .slick-prev {
            width: 30px;
            height: 39px;
            left: -40px;
            z-index: 10;
            background: url("../images/arrow-left-gerkatin.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .slick-next {
            width: 30px;
            height: 39px;
            right: -40px;
            z-index: 10;
            background: url("../images/arrow-right-gerkatin.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .item {
            margin: 20px 40px;
            text-align: center;
            .t2 {
                margin-bottom: 15px;
                color: white;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                background-color: $blue;
                border-radius: 8px;
                padding: 7px 25px;
                display: inline-block;
                min-width: 170px;
            }
            .t3 {
                text-align: center;
                margin-bottom: 40px;
                p {
                    margin-bottom: 0;
                    font-size: 15px;
                    line-height: 21px;
                }
            }
            .item-gerkatin {
                a {
                    margin-bottom: 20px;
                    cursor: pointer;
                    @include transition(all 0.3s);
                    font-size: 16px;
                    line-height: 20px;
                    color: $blue;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    display: block;
                    padding: 10px 15px;
                    &:hover {
                        -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
                    }
                }
            }
        }
    }
    .slider-bidang {
        margin: 0;
        .slick-prev {
            width: 30px;
            height: 39px;
            left: -40px;
            z-index: 10;
            background: url("../images/arrow-left-gerkatin.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .slick-next {
            width: 30px;
            height: 39px;
            right: -40px;
            z-index: 10;
            background: url("../images/arrow-right-gerkatin.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .item {
            margin: 20px 40px;
            text-align: center;
            .item-gerkatin {
                margin-bottom: 25px;
                cursor: pointer;
                @include transition(all 0.3s);
                text-align: center;
                display: block;
                .nm-profile {
                    font-size: 15px;
                    line-height: 18px;
                    text-align: center;
                    font-weight: bold;
                    color: $blue;
                }
                .posisi-profile {
                    font-size: 13px;
                    line-height: 15px;
                    text-align: center;
                    color: #535353;
                }
                .img-profile {
                    text-align: center;
                    border-radius: 50%;
                    margin: 0 auto 8px;
                    img {
                        display: inline-block;
                        width: 80px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .slider-gerkatin2 {
        margin: 0;
        .slick-prev {
            width: 30px;
            height: 39px;
            left: -40px;
            z-index: 10;
            background: url("../images/arrow-left-gerkatin.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .slick-next {
            width: 30px;
            height: 39px;
            right: -40px;
            z-index: 10;
            background: url("../images/arrow-right-gerkatin.png");
            @include transition(all 0.3s);
            &:hover {
                opacity: 0.7;
            }
            &:before {
                display: none;
            }
        }
        .item {
            margin: 20px 40px;
            text-align: center;
            .t2 {
                margin-bottom: 40px;
                color: white;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                background-color: $blue;
                border-radius: 8px;
                padding: 7px 25px;
                display: inline-block;
                min-width: 170px;
            }
            .item-gerkatin {
                margin-bottom: 25px;
                a {
                    cursor: pointer;
                    @include transition(all 0.3s);
                    text-align: center;
                    display: block;
                    .nm-profile {
                        font-size: 15px;
                        line-height: 18px;
                        text-align: center;
                        font-weight: bold;
                        color: $blue;
                    }
                    .posisi-profile {
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        color: #535353;
                    }
                    .img-profile {
                        text-align: center;
                        border-radius: 50%;
                        margin: 0 auto 8px;
                        img {
                            display: inline-block;
                            width: 80px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    .box-tentang-kami {
        .mb30 {
            margin-bottom: 30px;
        }
        .img {
            img {
                max-width: 100%;
            }
        }
        .t-kami {
            font-size: 18px;
            line-height: 26px;
            font-weight: bold;
            color: $blue;
            margin-bottom: 5px;
        }
        ul.l-kami {
            margin: 0 0 20px;
            padding: 0;
            li {
                &.img {
                    width: 25px;
                }
                margin-right: 10px;
                display: inline-block;
                font-size: 15px;
                line-height: 18px;
                color: $black;
            }
        }
        .bdy-kami {
            padding-right: 60px;
            p {
                &.mb15 {
                    margin-bottom: 15px;
                }
                a {
                    color: $black;
                    @include transition(all 0.3s);
                    &:hover {
                        color: $blue;
                    }
                }
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 0;
                .bold {
                    font-weight: bold;
                    color: $blue;
                }
            }
        }
    }
}

.modal {
    text-align: center;
    -webkit-overflow-scrolling: auto;
    padding: 0 !important;
    background-color: transparent;
    .t-pop {
        color: $blue;
        font-size: 22px;
        line-height: 26px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .bdy-pop {
        text-align: center;
        margin: 0 auto 30px;
        p {
            margin-bottom: 0;
            font-size: 15px;
            line-height: 16px;
        }
    }
    .close-pop {
        z-index: 10;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 15px;
        i {
            @include transition(all 0.3s);
            color: $blue;
            font-size: 17px;
            line-height: 0;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    ul.bdy-name {
        margin: 0 0 30px;
        padding: 0 0 0 25px;
        li {
            list-style: decimal;
            font-size: 15px;
            line-height: 19px;
            color: $black;
        }
    }
    .modal-content {
        padding: 40px 30px 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 5px;
        border: 0;
    }
    .modal-body {
        padding: 0;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 900px;
        max-width: 900px;
    }
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .pop-gerkatin {
        margin-bottom: 25px;
        .nm-profile {
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            font-weight: bold;
            color: $blue;
        }
        .posisi-profile {
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #535353;
        }
        .img-profile {
            text-align: center;
            border-radius: 50%;
            margin: 0 auto 8px;
            img {
                display: inline-block;
                width: 80px;
                border-radius: 50%;
            }
        }
    }
}

// .bg-main {
//     background-size: cover !important;
//     width: 100%;
//     background-color: rgb(188, 10, 23);
//     background-blend-mode: multiply;
// }

// .maintenance {
//     padding: 0;
//     height: 100vh;
//     position: relative;
//     .abs-maintenance {
//         position: absolute;
//         width: 100%;
//         padding: 10px;
//         background: $blue;
//         ul {
//             margin: 0;
//             padding: 0;
//             text-align: center;
//             li {
//                 display: inline-block;
//                 margin-right: 40px;
//                 padding-right: 40px;
//                 color: white;
//                 font-size: 17px;
//                 line-height: 24px;
//                 border-right: 1px solid white;
//                 &:last-child {
//                     border-right: 0;
//                     margin-right: 0;
//                     padding-right: 0;
//                 }
//             }
//         }
//     }
//     .container {
//         position: relative;
//         z-index: 100;
//     }
//     #countdown {
//         margin: 70px 0;
//         ul {
//             margin: 0;
//             padding: 0;
//             text-align: center;
//             li {
//                 vertical-align: middle;
//                 display: inline-block;
//                 font-size: 25px;
//                 list-style-type: none;
//                 color: white;
//                 margin-right: 40px;
//                 font-weight: bold;
//                 text-transform: uppercase;
//                 &:first-child {
//                     margin-right: 90px;
//                 }
//                 &:last-child {
//                     margin-right: 0;
//                 }
//                 span {
//                     font-weight: bold;
//                     font-size: 90px;
//                     line-height: 100px;
//                     display: block;
//                 }
//             }
//         }
//     }
//     .logo {
//         text-align: center;
//         img {
//             margin: 0 auto;
//             width: 400px;
//         }
//     }
//     .txt {
//         font-size: 45px;
//         line-height: 55px;
//         font-weight: bold;
//         color: white;
//         text-align: center;
//     }
//     .txt2 {
//         font-size: 35px;
//         line-height: 45px;
//         color: white;
//         text-align: center;
//     }
// }


@import "desktop";
@import "tablet";
@import "mobile";
@import "small_mobile";